/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::after,
*::before {
    box-sizing: border-box;;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.primary-header {
    border: 2px solid saddlebrown;
    grid-column: 2 / 3;
}

.primary-sidebar {
    border: 2px solid blue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

main {
    border: 2px solid green;
}
