/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --clr-primary: 201 79% 46%;
    --clr-accent: 42 87% 55%;
    --clr-dark: 0 0% 0%;
    --clr-white: 0 0% 100%;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */

*,
*::after,
*::before {
    box-sizing: border-box;;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0; 
}

/* make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button {
    font: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

/* --------------------- */
/* Header                */
/* --------------------- */

.primary-header {
    grid-column: 2 / 3;
    display: grid;
    column-gap: 25px;
    row-gap: 15px;
    grid-template-columns: 2fr 1fr;
    padding: 10px 45px;
    box-shadow: hsl( var(--clr-dark) / .15 ) 2.4px 2.4px 3.2px;
}

.primary-header .search-bar-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    align-items: center;
}

.primary-header .search-bar-container input[type="search"] {
    background-color: #e2e8f0;
    padding: 8px 15px;
    border: 0;
    border-radius: 20px;
}

.primary-header .user-information-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    justify-content: end;
    align-items: center;
}

.primary-header .user-notifications-container {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.primary-header .user-notifications-container:hover {
    background-color: hsl( var(--clr-dark) / .15 );
}

.user-avatar-container {
    background-color: hsl( var(--clr-accent) );
    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    justify-items: center;
    align-items: center;   
}

.user-avatar-container-small {
    width: 48px;
}

.user-avatar-small {
    width: 36px;
}

.primary-header .user-information-container .user-name {
    font-weight: bold;
}

.primary-header .user-greeting-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: min-content 1fr;
}

.primary-header .user-greeting-container .user-avatar-container {
    grid-row: span 2;
    align-self: center;
}

.primary-header .user-avatar-container-medium {
    width: 80px;
}

.primary-header .user-avatar-medium {
    width: 64px;
}

.primary-header .user-greeting {
    grid-row: span 2;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
}

.primary-header .user-greeting .user-handle {
    font-size: 1.5rem;
}

.primary-header .user-actions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 25px;
}

.primary-header .user-actions-container .btn {
    border: 0;
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-white) );
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.primary-header .user-actions-container .btn:hover {
    background-color: #116593;
}

/* --------------------- */
/* Sidebar               */
/* --------------------- */

.primary-sidebar {
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-white) );
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 50px;
    box-shadow: hsl( var(--clr-dark) / .15 ) 2.4px 2.4px 3.2px;
}

.sidebar-brand a,
.sidebar-navigation a {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    column-gap: 15px;
    color: inherit;
    text-decoration: none;
}

.sidebar-brand .brand-icon {
    justify-self: center;
}

.sidebar-brand .brand-text {
    font-size: 1.7rem;
}

.sidebar-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.sidebar-navigation li {
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
}

.sidebar-navigation a span:first-child {
    justify-self: center;
}

.sidebar-navigation li:hover,
.sidebar-navigation li:active {
    background-color: hsl( var(--clr-dark) / .3 );
}

.sidebar-navigation li.active {
    background-color: hsl( var(--clr-dark) / .5 );
}

/* -------------------------- */
/* Main section               */
/* -------------------------- */

main {
    padding-bottom: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.projects-container {
    padding: 20px;
    grid-row: span 2;
}

.projects {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projects .project {
    display: grid;
    row-gap: 20px;
    grid-template-rows: 1fr min-content;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: hsl( var(--clr-white) );
    border-left: 7px solid hsl( var(--clr-accent) );
    box-shadow: hsl( var(--clr-dark) / .15 ) 2.4px 2.4px 3.2px;
}

.projects .project-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.projects .project-description {
    color: #636363;
}

.projects .project-actions {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    align-items: center;
    column-gap: 22px;
}

.projects .project-actions > div {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.projects .project-actions > div:hover {
    background-color: hsl( var(--clr-dark) / .15 );
}

.side-container {
    display: grid;
    grid-template-rows: min-content;
    grid-row: span 2;
}

.announcements-container {
    padding: 20px 50px 0 0;
}

.announcements {
    background-color: hsl( var(--clr-white) );
    padding: 25px 35px;
    border-radius: 6px;
    box-shadow: hsl( var(--clr-dark) / .15 ) 2.4px 2.4px 3.2px;
}

.announcements .announcement {
    padding: 15px 5px;
}

.announcement .announcement-title {
    font-weight: bold;
}

.announcement .announcement-description {
    font-size: .8rem;
    color: #636363;
}

.announcements .announcement:not(:last-child) {
    border-bottom: 1px solid hsl( var(--clr-dark) / .25 );
}

.trending-container {
    padding: 20px 50px 0 0;
}

.trendings {
    padding: 15px 20px;
    display: grid;
    row-gap: 15px;
    background-color: hsl( var(--clr-white) );
    border-radius: 6px;
    box-shadow: hsl( var(--clr-dark) / .15 ) 2.4px 2.4px 3.2px;
}

.trendings .trending {
    display: grid;
    column-gap: 15px;
    grid-template-columns: min-content 1fr;
}

.trendings .trending-information {
    display: grid;
    font-size: .9rem;
}

.trendings .trending-information .project-name {
    color: #636363;
}
